html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
html body {
  font-family: var(--font-body-family);
  margin: 0;
  padding: 0;
}
html .page-container {
  max-width: var(--layout-max-width);
}
html .page-container h1, html .page-container h2, html .page-container h3, html .page-container h4, html .page-container h5, html .page-container h6 {
  font-family: var(--font-heading-family);
  font-weight: 300;
  line-height: 1;
  margin: 0;
}
html .page-container h1:has(+ *), html .page-container h2:has(+ *), html .page-container h3:has(+ *), html .page-container h4:has(+ *), html .page-container h5:has(+ *), html .page-container h6:has(+ *) {
  margin-bottom: 60px;
}
html .page-container p {
  line-height: 1.2;
  margin: 0;
}
html .page-container p:has(+ p) {
  margin-bottom: 20px;
}
html .page-container .mid-text {
  line-height: 1.2;
}
html .page-container .button {
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  font-family: var(--font-body-family);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
html .page-container .button.button-primary {
  background-color: var(--color-btn-primary);
  border-color: #000;
  color: #000;
}
html .page-container .button:hover {
  cursor: pointer;
  opacity: 0.4;
}
html .page-container .button[disabled] {
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 768px) {
  html h1 {
    font-size: 44px;
  }
  html .mid-text {
    font-size: 20px;
  }
  html section {
    padding: 80px 20px;
  }
}
@media (min-width: 768px) {
  html h1 {
    font-size: 60px;
  }
  html .mid-text {
    font-size: 24px;
  }
  html .button {
    font-size: 20px;
    padding: 16px 32px;
  }
  html *:has(+ .button) {
    margin-bottom: 60px;
  }
  html section {
    padding: 80px 40px;
  }
}