section {
  &:has(+ section:not([hidden])) {
    padding-bottom: 0;
  }
}

.section-subscription {
  & * {
    text-align: center;
  }
  
  .subscription-title {
    margin-bottom: 60px;
  }
  
  .subscription-content {
    display: flex;
    max-width: var(--layout-max-width);
    position: relative;
    width: 100%;

    &:after {
      content: '';
      background-color: #000;
      position: absolute;
      z-index: 0;
    }
  }
  
  .subscription-content-item {
    aspect-ratio: 1/1;
    align-items: center;
    background-color: white;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
    z-index: 1;

    & * {
      text-align: center;
    }

    .subscription-step-number {
      background-color: white;
      font-family: var(--font-heading-family);
      padding: 0 10px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .subscription-item-content {
      font-style: italic;
    }
  }
}


.hero-product-container {
  display: flex;
  
  .product-media {
    aspect-ratio: 1/1;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
    }

    .product-title {
      font-family: var(--font-body-family);
      font-weight: 400;
      margin-bottom: 30px;
    }

    .product-price {
      span {
        font-size: 0.8em;
      }
    }

    #product-add-form {
      fieldset {
        border: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0;

        legend {
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 15px;
        }
      }

      .product-variant {
        align-items: center;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        padding: 15px;
        transition: .2s ease-in-out;

        &:not(:has(input[disabled])):hover {
          border-color: #000;
          opacity: .4;
        }

        &:has(input[type="radio"]:checked) {
          border-color: #000;
          background-color: #fdfbd8;
        }

        &:has(input[type="radio"]:checked):hover {
          opacity: 1;
        }

        &:has(input[disabled]) {
          opacity: .4;
          pointer-events: none;
        }

        &:has(+ .product-variant) {
          margin-bottom: 10px;
        }

        label {
          align-items: center;
          display: flex;
          gap: 10px;
          justify-content: flex-start;
          width: 100%;

          input[type="radio"] {
            accent-color: #000;
            height: 20px;
            width: 20px;
          }

          .variant-details {
            min-width: 50%;

            .variant-title {
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
            }

            .variant-description {
              font-weight: 300;
            }
          }
        }
      }

      button {
        &.button {
          &[type="submit"] {
            border: none;
            border-radius: 100px;
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .subscription-content {
    align-items: center;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;

    &:after {
      height: calc((100% / 3) * 2); 
      left: 50%;
      top: calc((100% / 3) / 2);
      transform: translateX(-50%);
      width: 2px;
    }

    .subscription-content-item {
      max-width: 300px;
      width: 100%;
      
      .subscription-step-number {
        font-size: 52px;
      }

      .subscription-content-item .subscription-item-content {
        font-size: 22px;
      }
    }
  }

  .hero-product-container {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    
    .product-media {
      max-width: 600px;
      width: 100%;
    }

    .product-details {
      gap: 40px;
      width: 100%;

      .product-price {
        font-size: 20px;
      }

      #product-add-form {
        .product-variant {
          .variant-title {
            font-size: 12px;
          }

          .variant-description {
            font-size: 13px;
          }

          .variant-price {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .subscription-content {
    align-items: center;
    gap: 60px;
    justify-content: center;

    &:after {
      height: 2px;
      left: calc((100% / 3) / 2);
      top: 50%;
      transform: translateY(-50%);
      width: calc((100% / 3) * 2); 
    }

    .subscription-content-item {
      max-width: 300px;
      width: calc((100% / 3) - 20px);
      
      .subscription-step-number {
        font-size: 52px;
      }
    }
  }

  .hero-product-container {
    align-items: flex-start;
    gap: 60px;
    justify-content: flex-start;
    
    .product-media {
      width: calc(60% - 60px);
    }

    .product-details {
      gap: 60px;
      width: 40%;

      .product-price {
        font-size: 24px;
      }

      #product-add-form {
        .product-variant {
          .variant-title {
            font-size: 13px;
          }

          .variant-description {
            font-size: 14px;
          }

          .variant-price {
            font-size: 14px;
          }
        }
      }
    }
  }
}